node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
mcp-todos.json
!.vscode/
!.vscode/settings.json
!.vscode/extensions.json

dev.db
dev.db-shm
dev.db-wal
projects/
projects.json
